body {
    margin: 0 auto;
    box-sizing: border-box;
    scroll-behavior: smooth;
    color: white;
    overflow: hidden;
}
a {
    text-decoration: none;
}
.d_flex_sb {
    display: flex;
    justify-content: space-between;
}
.d_flex_c_c {
    display: flex;
    align-items: center;
    justify-content: center;
}
.d_flex_se {
    display: flex;
    justify-content: space-evenly;
}
.d_block {
    display: block;
}
.m-auto {
    margin: 0 auto;
}
.m-48 {
    margin: 48px;
}
.m-top-12 {
    margin-top: 12px;
}
.m-left-24 {
    margin-left: 24px;
}
.f-letter-uppercase::first-letter {
    text-transform: uppercase;
}
.height-80 {
    height: 80px;
}
.max-width {
    max-width: 1920px;
}
.left {
    left: 0;
    position: absolute;
}
button {
    cursor: pointer;
}
@media(max-width: 500px) {
    .m-48 {
        margin: 24px;
    }
    .m-top-12 {
        margin-top: 6px;
    }
    .m-left-24 {
        margin-left: 12px;
    }
}
